.wal_menu {
  margin-left: 24%;
  margin-top: 10%;
  margin-right: 15%;
  width: 45%;
  margin-bottom: 8%;
  display: inline-block;
  }
  .align {
    background: white;
    margin-left: 4%;
    margin-right: 50%;
    height: 23%;
    margin-top: 1%;
  }
  .alignloan {
    margin-left: 54%;
    margin-top: -62%;
    margin-right: 3%;
    height: 23%;
    background: white;
  }
  .cont {
        background: lightgray;
    margin-top: -3%;
  }
  .loan_menu {
    width: 55%;
    margin-top: 58%;
    padding-top: 9%;
    margin-left: 23%;
  }
  
  .hr {
    width: 88%;
  }
  .alignthird {
   background: white;
    margin-left: 4%;
    margin-right: 50%;
    margin-top: 5%;
    height: 22%;
}
.fourthalign {
  margin-left: 54%;
  margin-right: 3%;
  height: 22%;
  background: white;
  margin-top: -36%;
}
  .third{
    margin-left: 20%;
    width: 58%;
    padding-top: 5%;
  }
  .fourth {
    margin-left: 19%;
    padding-top: 8%;
    width: 49%;
  }
page-notifications {
  .content-md {
    background: transparent !important;
  }
  
  .scroll-content {
    overflow: hidden
  }

  .banimg {
    // height: 265px;
    // padding: 10px
  }
}

page-topup {
  .content-md {
    background: transparent !important;
  }

  .tophead {
    background: #131a22;
  }

  .scroll-content {
    overflow: hidden
  }
}

.rmpad {
  padding: 0px !important;
}

.coinimg {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  top: 0
}

.card_trans {
  background: #ffffff transparent;
  color: white;
  height: 65px;

  position: relative;
  box-shadow: 0px;
  box-sizing: content-box;

}

.tkview:nth-child(odd) {
  background: #f2f2f2;
}

.tkview:nth-child(even) {
  background: #f2f2f2;
}

.card_trans:nth-child(odd) {
  ion-item-sliding {
    background: #f2f2f2;
  }

  margin-bottom: 0px;
}

.card_trans:nth-child(even) {

  ion-item-sliding {
    background: #ffffff;
  }

  margin-bottom: 0px;
}

.card_trans:first-child {
  border-top: 0px
}

.card_trans:last-child {
  border-bottom: none;

}

.card_trans .item-md ion-thumbnail {
  min-width: 45px;
  min-height: 30px;
}

.card_trans h3 {
  font-size: 14px !important;
}

.fontWhite {
  color: #2f2f2f !important;
  text-align: left;

}

.wallat_main {
  min-height: 253px;
  text-align: center;
  background: transparent;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  position: fixed;
}

.mywalletTxt {
  color: white !important;
  font-size: 8vw !important;
}

.wall_amount {
  margin-top: 4px;
  color: white !important;
  font-size: 5vw !important;
}

.wall_txt_cen {
  position: relative;
}

.item_text {
  margin: 10px 0px 0px 0 !important;
  ;
  font-size: 3vw !important;
  text-align: center;
}

.wallat {
  background-color: #232f3e;
}

.hello {
  text-align: left;
  font-family: "Montserrat / Light";
  font-size: 12px;
}
.wal_text {
  font-size: 15px;
  padding-left: 24%;
}
.loan_text {
      font-size: 15px;
    padding-left: 38%;
}
.third_text {
  font-size: 15px;
    padding-left: 28%;
}
.menu_menu {
  height: 100%;
    margin-top: 69%;
    background: lightgray;
}
.re_text {
      font-size: 15px;
    padding-left: 12%;
}
.trans {
  background-color: white;
  position: absolute;
  top: 48%;
  left: 0px;
  bottom: 10px;
  right: 0px;
  overflow-y: scroll;
}

.cad {
  background: #fff;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
}

.car {
  background: #000;
}
