<div class="cad">

        <ion-card class="wallat_main">
          <div class="wall_txt_cen">
            <div id="chartdiv" [style.width.%]="100" [style.height.px]="200"></div>
            <!-- <p class="wall_amount">$49994.5</p>     -->
    
          </div>
    
        </ion-card>
    
    
        <div class="trans">
    
            <ion-fab bottom right (click)="addtoken()">
                <button ion-fab> <ion-icon name="add"></ion-icon></button>
              </ion-fab>
          <ion-list>
            <ion-card *ngFor="let token of tokenList" class="card_trans">
              <ion-item-sliding>
              <ion-item (click)='viewToken(token)'>
                <tokenview [token]="token"></tokenview>
              </ion-item>
              <ion-item-options>
                  <button danger (click)="removeItem(token.contractAddress)"> <ion-icon name="trash"></ion-icon> Remove</button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
            <!-- <ion-card> -->
            <!-- </ion-card> -->
            <!-- <ion-card class="card_trans">
                    <ion-item (click)='openSingleNotification("Etheriun","coin")'>
                      <div class="row">
                        <div class="col col-10">
                          <ion-thumbnail item-start>
                            <img class="coinimg" src="assets/imgs/eth-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
            
                          <div class="col col-50">
            
                            <h3 class="fontWhite item_text" text-right>{{ allBalance.eth | number:'.3' }}&nbsp;&nbsp;ETH</h3>
                          </div>
                        </div>
            
                        <div class="col col-40 rmpad">
                          <h3 class="fontWhite item_text" text-right> {{ allBalance.eth / todayPrice.ETH | number:'.3' }} $</h3>
            
                        </div>
                      </div>
                    </ion-item>
                  </ion-card> -->
            <!-- <ion-card class="card_trans">
                    <ion-item (click)='openSingleNotification("evenscoin","coin")'>
                      <div class="row">
                        <div class="col col-10">
                          <ion-thumbnail item-start>
                            <img class="coinimg"  src="assets/imgs/evens-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
                          <div class="col col-50">
                            <h3 class="fontWhite item_text" text-right>{{ allBalance.ens | number:'.3'}}&nbsp;&nbsp;ENS</h3>
                          </div>
                        </div>
                        <div class="col col-40 rmpad">
                          <h3 class="fontWhite item_text" text-right> N.A </h3>
                        </div>
                      </div>
            
            
            
                    </ion-item>
                  </ion-card> -->
            <!-- <ion-card *ngFor="let token of tokens" class="card_trans">
                    <ion-item (click)='openSingleNotification("tokenOne","token")'>
                      <div class="row">
                        <div>
                          <ion-thumbnail item-start>
                            <img class="coinimg" src="assets/imgs/tk1-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
                          <div class="col">
                            <h3 class="fontWhite item_text" text-right>{{ token.balance | number:'.3' }} </h3>
                          </div>
                        </div>
                        <div class="hello">
                          <div class="col">
                            <h3 class="fontWhite item_text" text-left>{{token.symbol}}</h3>
                          </div>
                        </div>
                        <div class="col rmpad">
                          <h3 class="fontWhite item_text" text-right> 0 $ </h3>
                          <h3 class="fontWhite item_text" text-right> {{  allBalance.tokenOne / todayPrice.INR | number:'.3' }} $ </h3>
                        </div>
                      </div>
            
            
                    </ion-item>
                  </ion-card> -->
            <!-- <ion-card class="card_trans">
                    <ion-item (click)='openSingleNotification("tokenOne","token")'>
                      <div class="row">
                        <div class="col col-10">
                          <ion-thumbnail item-start>
                            <img class="coinimg" src="assets/imgs/tk1-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
                          <div class="col col-50">
                            <h3 class="fontWhite item_text" text-right>{{ allBalance.tokenOne | number:'.3' }}&nbsp;&nbsp;{{allBalance.tokenOneSym}}</h3>
                          </div>
                        </div>
                        <div class="col col-40 rmpad">
                          <h3 class="fontWhite item_text" text-right> {{ allBalance.tokenOne / todayPrice.INR | number:'.3' }} $
                          </h3>
                        </div>
                      </div>
                    </ion-item>
                  </ion-card> -->
            <!-- <ion-card class="card_trans">
                    <ion-item (click)='openSingleNotification("tokenTwo","token")'>
                      <div class="row">
                        <div class="col col-10"> 
                          <ion-thumbnail item-start>
                            <img class="coinimg" src="assets/imgs/tk2-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
                          <div class="col col-50">
                            <h3 class="fontWhite item_text" text-right>{{ allBalance.tokenTwo | number:'.3' }}&nbsp;&nbsp;{{allBalance.tokenTwoSym}}</h3>
                          </div>
                        </div>
                        <div class="col col-40 rmpad">
                          <h3 class="fontWhite item_text" text-right> {{ allBalance.tokenTwo / todayPrice.THB | number:'.3' }} $</h3>
                        </div>
                      </div>
                    </ion-item>
                  </ion-card> -->
            <!-- <ion-card class="card_trans">
                    <ion-item (click)='openSingleNotification("tokenThree","token")'>
                      <div class="row">
                        <div class="col col-10">
                          <ion-thumbnail item-start>
                            <img class="coinimg" src="assets/imgs/tk3-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
                          <div class="col col-50">
                            <h3 class="fontWhite item_text" text-right>{{ allBalance.tokenThree | number:'.3' }}&nbsp;&nbsp;{{allBalance.tokenThreeSym}}</h3>
                          </div>
                        </div>
                        <div class="col col-40 rmpad">
                          <h3 class="fontWhite item_text" text-right> {{ allBalance.tokenThree / todayPrice.KRW | number:'.3' }} $
                          </h3>
                        </div>
                      </div>
                    </ion-item>
                  </ion-card> -->
            <!-- <ion-card class="card_trans">
                    <ion-item (click)='openSingleNotification("tokenFour","token")'>
                      <div class="row">
                        <div class="col col-10">
                          <ion-thumbnail item-start>
                            <img class="coinimg" src="assets/imgs/tk4-40.png">
                          </ion-thumbnail>
                        </div>
                        <div class="hello">
                          <div class="col col-50">
                            <h3 class="fontWhite item_text" text-right>{{ allBalance.tokenFour | number:'.3' }}&nbsp;&nbsp;{{allBalance.tokenFourSym}}</h3>
                          </div>
                        </div>
                        <div class="col col-40 rmpad">
                          <h3 class="fontWhite item_text" text-right> {{ allBalance.tokenFour / todayPrice.USD | number:'.3' }} $
                          </h3>
                        </div>
                      </div>
                    </ion-item>
                  </ion-card> -->
          </ion-list>
    
        </div>
    
    
      </div>